{% load staticfiles %}

<html>
	<head>
		<title>KAIST 학생복지위원회</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div class="page-header">
			<div class="center-aligned">
				<div class="center-core">
					<a href="{% url 'main' %}">
						<img src="/static/image/logo.png" border="0">
					</a>
				</div> 
			</div>
		</div>
		<nav class="manu-val">
			<ul>
				<li><a href="{% url 'intro' %}">소개</a></li>
				<li><a href="{% url 'intro_task' %}">사업소개</a></li>
				<li><a href="{% url 'notice' %}">공지사항</a></li>
				<li><a href="{% url 'qna' %}">Q&A</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'login' %}">로그인</a></li>
				{% else %}
					<li><a href="{% url 'logout' %}">로그아웃</a></li>
				{% endif %}

			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon-plus"></span></a>
			{% endif %}
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>