@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

@font-face {
  font-family: 'Youth';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

html {
   font-family: 'Godo', sans-serif;
}

.page-header {
	background-color: #ffffff;
	margin-top: 0;
} 

.center-aligned {
	display: table;
	width: 96%;
}

.center-core {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.content {
	margin-left: 40px;
}

.date {
	float: right;
	color: #828282;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #828282;
	float: right;
	font-size: 26pt;
	margin-right:20px;
}

.post{
	margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
	color: #000000;
}