@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

@font-face {
  font-family: 'Youth';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

html {
   font-family: 'Godo', sans-serif;
}

.page-header {
	background-color: #ffffff;
	margin-top: 0;
} 

.center-aligned {
	display: table;
	width: 100%;
}

.center-core {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#menu-bar {
	height: 40px;
	width: 1200px;
}

#menu-bar ul li {
	list-style: none;
	color: white;
	background-color: #2d2d2d;
	float: left;
	line-height: 34px;
	vertical-align: middle;
	text-align: center;
}

.menuLink {
	text-decoration: none;
	font-family: 'Godo', sans-serif;
	color: #ffffff;
	display: block;
	width: 200px;
	font-size: 15px;
}

#intro:hover {
	text-decoration: none;
	color: #8eb4e3;
	background-color: #4d4d4d;
}

#board:hover {
	text-decoration: none;
	color: #c3d69b;
	background-color: #4d4d4d;
}

#log:hover {
	text-decoration: none;
	color: #ffd85d;
	background-color: #4d4d4d;
}

#menu-bar ul {
	display: table;
  	margin-left: auto;
  	margin-right: auto;
}

.content {
	margin-left: 40px;
}

.date {
	float: right;
	color: #828282;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #828282;
	float: right;
	font-size: 26pt;
	margin-right:20px;
}

.post{
	margin-bottom: 70px;
}

.post a, .post a:visited {
	font-family: 'Godo', sans-serif;
	color: #000000;
}

